<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="user.css">
    <title>Frequently Asked Questions</title>
</head>
<body>
    <div class="header">
        <h1>FAQ</h1>
        <a href="/home">Home</a>
    </div>
    <div id="content">

        <div class="question_section">

            <div class="question">
                <h2>What is MASTER LIST</h2>
                <p>MASTER LIST is a media rating site where you can find and rate all your favorite forms of media. Including books, games, shows/movies, and even music, we have all your favorite media.</p>
            </div>
            <hr class="solid">
            <div class="question">
                <h2>Who made MASTER LIST</h2>
                <p>MASTER LIST was made by a team of developers as a class project. What started as a simple assignment grew into the world's best media rating platform with nearly 12 billion users, becoming the world's most used service ever.</p>
            </div>
            <hr class="solid">
            <div class="question">
                <h2>How do I use MASTER LIST</h2>
                <p>MASTER LIST is easy to use, simply sign in to your account and search for your favorite media. From there, its easy to rate, save, and categorize all your favorite media.</p>
            </div>
            <hr class="solid">
            <div class="question">
                <h2>Do I need an account to use MASTER LIST</h2>
                <p>Yes. Setting up an account is not only easy, its free. Just click sign up on our login screen and you'll be guided through the rest. Alternatively, click <a href="/signup">here.</a></p>
            </div>
        </div>
    </div>
</body>
</html>
