<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="shared.css">
    <link rel="stylesheet" href="login.css">
    <title>Log In</title>
    
</head>
<body>
    <h2>Log In</h2>

    <form action="/login" method="post">

        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="btn">Log In</button>

    </form>

    <a href="/signup">Sign Up</a>

</body>
</html>
